@font-face {
    font-family: ncaa-illinois;
    src:
         url("/static/fonts/NCAA\ Illinois\ Fighting\ Illini.otf") format("opentype")
}

@font-face {
    font-family: ncaa-illinois;
    font-weight: bold;
    src: url("/static/fonts/NCAA_Illinois_Fighting\ IlliniBold.otf") format("opentype");
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    position: absolute;
    width: calc(100% - 16px);
    margin:8px;
    top:45px;
}

p{
    margin-top:1rem;
}

.schedule td, .schedule th{
    text-align:left;
}

.ncaa-banner{
    font-family: ncaa-illinois, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-style: italic;
    font-size:3em;
}

.year_banner{
    font-size:0.8em;
    text-align:center;
}

.championship_banner{
    text-align:center;
}



/*
 *  * Formatting the header area
 *  IRISH COLORS
 *  border-style: solid;
 *  border-color: #C89600;
 *  background-color: #0C2340;
 *  GREEN COLORS
 *  border-style: solid;
 *  border-color: green;
 *  background-color: #4CAF50;
 */
.center {
    margin: auto;
    width: 65%;
    border-style: none;
    /*border-color: #C89600;*/
    padding: 10px;
}


/*header {
    background-color: #DFB887;
    height: 50px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
*/

header h1.logo {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-left: 8px;
    margin-top: 4px;
}

header h1.logo2 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-left: 8px;
    margin-top: 4px;
}


header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

/*
 *  *  * Formatting for table
 *   */

table.center {
    margin-left: auto; 
    margin-right: auto;
    font-family: arial, sans-serif;
    font-size: 1.5em;
    border-collapse: collapse;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}


th, td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
    vertical-align: middle;
    font-weight: normal;
}

th {
    color: white; 
}

tr:nth-child(odd) {
    background-color: rgb(244, 244, 244);
}

.cublue {
    background-color: rgba(98, 168, 229, .25);
}

.container {
    width: 100%;
    margin: 0 auto;
}



div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
}



div.about {
    padding: 10px 30px 10px 30px;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
}



h2 {
    font-size: 1.4em;
    font: Helvetica Neue;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    color: #444;
}



h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: -1px;
    color: #2C385C;
}


h4 {
    font-size: 5em;
    font-weight: 100;
    margin-top: -15px;
    text-align: center;
    letter-spacing: -1px;
    color: black;
}

h5 {
    font-size: 4em;
    text-align: center;
    letter-spacing: -1px;
    color: black;
    font-style: italic;
    font-family: ncaa-illinois, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#demo {
    font-size: 2rem;
    text-align: center;
    font-family: monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}


.center.about {
    border-collapse: collapse;
    border-style: solid;
}

.menu {
    float: right;
    margin-top: 0px;
}



.menu li {
    display: inline;
}



.menu li + li {
    margin-left: 35px;
}



.menu li a {
    color: #444;
    text-decoration: none;
}



.menu li a:hover {
    color: #666;
    text-decoration: none;
}

.menu2 {
    float: right;
    margin-top: 9px;
    margin-right: 8px;
}



.menu2 li {
    display: inline;
}



.menu2 li + li {
    margin-left: 35px;
}



.menu2 li a {
    color: #444;
    text-decoration: none;
}



.menu2 li a:hover {
    color: #666;
    text-decoration: none;
}

.navbar{
    justify-content: flex-end;
    background-color:#0C2240;
    top:-24px;
    padding:0px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    border: none;
  }

  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right:0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
}

.dropbtn:focus{
    outline:none;
    outline:0;
}

.show{
    display:block;
}

.title{
    color: white;
    left: 0;
    position: relative;
    flex: 1;
    padding-left: 20px;
    font-size: 1.5rem;
}

.out{
    background-color:rgb(255, 100, 100);
}

.winner{
    background-color: rgb(159, 249, 185);
}

h5{
    padding-top:50px;
    font-size: 3em;
}

.dropdown:hover .dropbtn {
    filter: brightness(150%);
}

@media only screen and (max-width: 600px) {
    .table th, .table td{
        font-size:0.7rem;
        padding:5px;
        vertical-align: middle;
    }

    body{
        width: 100%;
        margin:0;
        cursor: pointer;
    }

    .dropbtn{
        padding:16px;
    }

    .cyrus{
        display:none;
    }

    .desktop{
        display:none;
    }

    h5{
        font-size:2em;
    }

    .ncaa-banner{
        font-size:1.2em;
    }

    .dropdown:hover .dropbtn {
        filter: brightness(100%);
    }

  }
