{%extends "layout.html"%}
{%block content%}
<div class="ncaa-banner">
    <div class="container">
        <div class = "championship_banner" style="color:#{{color[0]}}">CyrusofChaos</div>
        <div class = "year_banner" style="color:#{{color[1]}}">Video Editing Story</div>
    </div>
</div>
<br>
<p class="p4"><span class="s1">I first learned how to edit videos so that I could examine certain aspects of a fencing match more easily. I would find unique parts of the games of top fencers and put them into one sequence so I could look for patterns. After creating the first video of this format I uploaded it to YouTube so that hopefully other people could benefit from it. Even though this was a fairly amateurish attempt to put together an analysis video it got several hundred views on the first day and I realized I really liked the process of creating videos that people could watch and talk about.</span></p>
<p class="p4"><span class="s1">I got my start on YouTube but in the last few years I started an Instagram account where I post shorter fencing clips for discussion. I find that the short video format gives me the ability to create high quality content at a higher pace and as such be able to reach more people. The highly interactive nature of the Instagram platform gives immediate feedback on these videos and greatly improved my video editing skills.</span></p>
<p class="p4"><span class="s1">Though I initially just created fencing videos, through commission I have created videos for animals, video games, other sports, and a variety of other topics. I even created a second Instagram page for my favorite video game. I don't care what the subject is, I just really enjoy the creative process and I have found that this is a good medium through which I can express myself.</span></p>
<p class="p4"><span class="s1">Videos I have created have received praise from the United States Fencing Association, the Italian Fencing Federation, the French Fencing Federation, the Russian Fencing federation, and the fencing federations of over a dozen other countries. Videos I have made have also been featured on the website of governing body of European Fencing, the International Fencing Federation, and I have had my clips used in several different documentaries and short videos published in various places including on ESPN.</span></p>
<p class="p4"><span class="s1"></span></p>
{%endblock%}
