{%extends "layout.html"%}
{%block content%}

<style> #weapon{display:inline-block !important;}
@media only screen and (max-width: 600px){
    .math{display:none !important}
    .navbar{justify-content: space-around;}
    .title{display:none;}
    #weapon *{left:0;}
}
</style>


<br>
<!--<h4><span class="s1"><b>NCAA Fencing Championships<br/>At Penn State Start In:</b></span></h4>-->
<p id="demo"></p>
<h3 id="demo">Remember March Stabness? Well now it's back. Choose your own NCAA team by following <a href="https://www.besst.io/fencing">this link!</a></h3>
<!--<h3 id="demo">Once the countdown is complete results will be displayed here!</h3>-->
<h3 id="demo">Tap the weapon tab above to jump to the qualifiers for the championships!</h3>
<br>
<br>
<!--<iframe class="table" src="https://www.youtube.com/embed/JFF5fxFRM2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<br>
<br>
<h5 id="Total Fencers"><b>Total Fencers Per School</b>></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tr>
        <th style="background-color:#{{color[0]}}">Schools with 12 Fencers</th>
        <th style="background-color:#{{color[0]}}"></th>
        <th style="background-color:#{{color[0]}}">Number of Fencers</th>
        <th style="background-color:#{{color[0]}}">Total Bouts</th>
    </tr>
    {% for school in schools %}
    {% if loop.index == 5 %}
    <tr>
        <th style="background-color:#{{color[0]}}">Schools with less than 12 Fencers</th>
        <th style="background-color:#{{color[0]}}"></th>
        <th style="background-color:#{{color[0]}}">Number of Fencers</th>
        <th style="background-color:#{{color[0]}}">Total Bouts</th>
    </tr>
    {% endif %}
    <tr>
        <td>{{school.name}}</td>
        <td><img src="../static/images/smaller/{{school.school_logo}}"
                 alt=""
                 style="width:auto; height:75px;"> </td>
        <td>{{school.num_fencers}}</td>
        <td>{{school.total_bouts}}</td>
    </tr>
    {% endfor %}
</table>

<h5 id="Men's Epee"><u>MEN'S EPEE</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Lombardo, Teddy</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>Northeast</td>
        </tr>
        <tr>
            <td>
                <p>Yamanaka, Mick</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hammarberg, Bryn</p>
            </td>
            <td>Duke</td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chien, Albert</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Thein-Sandler, Adrien</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Petrosewicz, Thomas</p>
            </td>
            <td>
                <p>Incarnate Word</p>
            </td>
            <td>West</td>
        </tr>
        <tr>
            <td>
                <p>Sless, Alexander</p>
            </td>
            <td>
                <p>Incarnate Word</p>
            </td>
            <td>West</td>
        </tr>
        <tr>
            <td>
                <p>Ewart, Stephen</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Simmons, Ariel</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bradford, Jack</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Shindler, Oliver</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Griffiths, Ryan</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Piskovatskov, Anton</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Wilson, Sean</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Johnson, Wesley</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Yuan, Wesley</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Vaysberg, Nathan</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Zagoruiko, Ivan</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Strong, Sean</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Crouse, Ulfric</p>
            </td>
            <td>
                <p>Stevens Institute of Technology</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Khayat, Ziad</p>
            </td>
            <td>
                <p>UC San Diego</p>
            </td>
            <td>West</td>
        </tr>
        <tr>
            <td>
                <p>Elsayed, Ahmed</p>
            </td>
            <td>
                <p>Wayne State (Michigan)</p>
            </td>
            <td>Midwest</td>
        </tr>
        <tr>
            <td>
                <p>Haider, Safi</p>
            </td>
            <td>Yale</td>
            <td>Northeast</td>
        </tr>
        <tr>
            <td>
                <p>Shelanski, Isaac</p>
            </td>
            <td>Yale</td>
            <td>Northeast</td>
        </tr>
    </tbody>
</table>

<h5 id="Men's Foil"><u>MEN'S FOIL</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Griffith, Jordan</p>
            </td>
            <td>
                <p>Air Force</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Levin, Nestor</p>
            </td>
            <td>
                <p>Air Force</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Masood, Umar</p>
            </td>
            <td>
                <p>Brown</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kumbla, Sidarth</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Moelis, Sam</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Gronningsater, Eoin</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rushing, Brycen</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rheingans-Yoo, Duncan</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tourette, Geoffrey</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Mannan, Zohaib</p>
            </td>
            <td>
                <p>New York University</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Welch, Kyle</p>
            </td>
            <td>
                <p>New York University</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Itkin, Nick</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kiefer, Axel</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cao, Leon</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Wriedt, Nathan</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bicego, Sebastiano</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hassan, Mohamed</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Li, Michael</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hamza, Mohamed</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Levy, Cameron</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Orts, Lucas</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hadler, Benjamin</p>
            </td>
            <td>
                <p>UC San Diego</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Allen, Cameron</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chen, Earnest</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
    </tbody>
</table>

<h5 id="Men's Sabre"><u>MEN'S SABRE</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Meng, Bolang</p>
            </td>
            <td>
                <p>Boston College</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Doddo, Andrew</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Liang, Calvin</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dressell, Wiley</p>
            </td>
            <td>
                <p>Detroit Mercy</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kitsiriboon, Soravit</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cai, Erwin</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Solomon, Daniel</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Puccio, Greg</p>
            </td>
            <td>
                <p>New Jersey Institute</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bak, Mikolaj</p>
            </td>
            <td>
                <p>New York University</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rabinowitz, Beni</p>
            </td>
            <td>
                <p>North Carolina</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Contreras, Alessandro</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Panteleev, Arsenii</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Koch, Domenik</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Swartz, Roscoe</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dolegiewicz, Marcel</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Metryka, Karol</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Green, Adam</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Lin, Xiteng Steven</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kwak, Daniel</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Ferjani, Fares</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Natanzon, Ben</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kwong, Samuel</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Emir Putra, Syed</p>
            </td>
            <td>
                <p>UC San Diego</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Musgrave, Walter</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
    </tbody>
</table>

<h5 id="Women's Epee"><u>WOMEN'S EPEE</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Agob, Nicole</p>
            </td>
            <td>
                <p>Air Force</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cebula, Ann</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Nixon, Karolina</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Eno, Megan</p>
            </td>
            <td>
                <p>Cornell</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Aldadah, Huda</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Papdopoulos, Maria</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Toby, Natalia</p>
            </td>
            <td>
                <p>Fairleigh Dickinson</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kukadia, Saanchi</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>Northeast</td>
        </tr>
        <tr>
            <td>
                <p>Wallace, Shawn</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>Northeast</td>
        </tr>
        <tr>
            <td>
                <p>Falinska, Julia</p>
            </td>
            <td>
                <p>Northwestern</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hamilton, Pauline</p>
            </td>
            <td>
                <p>Northwestern</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Grady, Miriam</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Sirico, Amanda</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Verret, Alexanne</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kalonji, Anastasia</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>VanBenthuysen, Barbara</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dib, Vanessa</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Stewart, Tatijana</p>
            </td>
            <td>
                <p>Princeton</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rizzi, Andrea Vittoria</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tannous, Dominique</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Lee, Hanna</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Beihold, Emily</p>
            </td>
            <td>
                <p>UC San Diego</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Nam, Michelle</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Wang, Shirley</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
    </tbody>
</table>

<h5 id="Women's Foil"><u>WOMEN'S FOIL</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Binder, Sylvie</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Blow, Iman</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Gianneschi, Julia</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Superville, Zoe</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Liu, Cindy</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Yang, Natalie</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rebchunovska, Oleksandra</p>
            </td>
            <td>
                <p>Incarnate Word</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cecchini, Gabriela</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Rivano, Camilla</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Luong, Tiffany</p>
            </td>
            <td>
                <p>New York University</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chen, Wei Chee</p>
            </td>
            <td>
                <p>North Carolina</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chart, Yvonne</p>
            </td>
            <td>
                <p>Northwestern</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chen, Alyssa</p>
            </td>
            <td>
                <p>Northwestern</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Berthier, Amita</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Massialas, Sabrina</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Vaiani, Nicole</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bicego, Lodovica</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Zuzulo, Isabella</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Lachman, Katarzyna</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pappone, Arianna</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Liao, Madeline</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Lovelace, Kennedy</p>
            </td>
            <td>
                <p>Temple</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pak, Sarah</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Zhou, Anna</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
    </tbody>
</table>

<h5 id="Women's Sabre"><u>WOMEN'S SABRE</u></h5>
<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <thead>
        <tr style="background-color:#{{color[0]}}">
            <th scope="col">NAME</th>
            <th scope="col">INSTITUTION</th>
            <th scope="col">REGION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Burke, Nora</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Timofeyev, Daniella</p>
            </td>
            <td>
                <p>Columbia</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bentolila, Esther</p>
            </td>
            <td>
                <p>Cornell</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Harrill, Gillian</p>
            </td>
            <td>
                <p>Cornell</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Gorman, Alexandra</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Sapienza, Lindsay</p>
            </td>
            <td>
                <p>Duke</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Czyzewski, Veronica</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tartakovsky, Elizabeth</p>
            </td>
            <td>
                <p>Harvard</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Litynski, Jackie</p>
            </td>
            <td>
                <p>North Carolina</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Yucel, Emine</p>
            </td>
            <td>
                <p>Northwestern</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hassett, Tara</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Linder, Kara</p>
            </td>
            <td>
                <p>Notre Dame</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Merza, Sarah</p>
            </td>
            <td>
                <p>Ohio State</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Chang, Karen</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Moss, Zara</p>
            </td>
            <td>
                <p>Penn State</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Papp, Sara</p>
            </td>
            <td>
                <p>Pennsylvania</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cieslar, Karolina</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kaleta, Karolina</p>
            </td>
            <td>
                <p>St. John's (New York)</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Mentzer, Kaleigh</p>
            </td>
            <td>
                <p>Stanford</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Olaode, Blessing</p>
            </td>
            <td>
                <p>Temple</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Plunkett, Kerry</p>
            </td>
            <td>
                <p>Temple</p>
            </td>
            <td>
                <p>Mid-Atlantic/South</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Coimbra, Miya</p>
            </td>
            <td>
                <p>UC San Diego</p>
            </td>
            <td>
                <p>West</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Palczynska, Patrycja</p>
            </td>
            <td>
                <p>Wayne State (Michigan)</p>
            </td>
            <td>
                <p>Midwest</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kim, Lauren</p>
            </td>
            <td>
                <p>Yale</p>
            </td>
            <td>
                <p>Northeast</p>
            </td>
        </tr>
    </tbody>
</table>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Mar 21, 2019 09:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = "Countdown to NCAAs:<br>" + days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "NCAAs are underway.<br>Expect updates soon!";
        }
    }, 1000);
</script>
{%endblock%}
