{%extends "layout.html"%}
{%block content%}

<table class="table" style="margin-top:50px; border:2px solid #{{color[1]}}">
        <tr>
            <th BGCOLOR={{color[0]}}></th>
            <th BGCOLOR={{color[0]}}>School<br>(Fencers)</th>
            <th BGCOLOR={{color[0]}}>Total Wins</th>
            <!--<th class="desktop" BGCOLOR={{color[0]}}>Win Percentage</th>-->
            <th BGCOLOR={{color[0]}}>Bouts Left</th>
            <th BGCOLOR={{color[0]}}>Bouts to Clinch</th>
        </tr>
        <tr>
            <td>1.</td>
            <td><img class="schoollogo" 
                    src="../static/images/smaller/{{ranking.first_place.school_logo}}"
                    alt=""
                    style="width:auto; height:50px;"><br>{{ranking.first_place.name}}<br>({{ranking.first_place.num_fencers}})
                </td>
            <td>{{ranking.first_place.wins}}</td>
            <!--<td class="desktop">{{ranking.first_place.win_percent}}</td>-->
    
            <td>{{ranking.first_place.remaining_bouts}}</td>
    
            {% if ranking.is_over %}
            <td class = "winner">{{ranking.year}}<br>Team Champions!</td>
            {% elif ranking.leader_can_clinch %}
            <td>
                {{ranking.bouts_leader_needs_to_clinch}}
                ({{ranking.percent_remaining_bouts_leader_needs_to_clinch}})
            </td>
            {% else %}
            <td>Can't Clinch Yet</td>
            {% endif %}
        </tr>
        <tr>
            <th BGCOLOR={{color[0]}}></th>
            <th BGCOLOR={{color[0]}}>School<br>(Fencers)</th>
            <th BGCOLOR={{color[0]}}>Total Wins</th>
            <!--<th class="desktop" BGCOLOR={{color[0]}}>Win Percentage</th>-->
            <th BGCOLOR={{color[0]}}>Bouts Left</th>
            <th BGCOLOR={{color[0]}}>Bouts Behind Leader</th>
        </tr>
        {% for school in ranking.trailing_schools %}
        <tr>
            <td>{{loop.index + 1}}.</td>
            {% if loop.index < 6 %}
            <td><img class = "schoollogo"                   
                    src="../static/images/smaller/{{school.school_logo}}"
                    alt=""
                    style="width:auto; height:50px;"><br>{{school.name}}<br> ({{school.num_fencers}})
            </td>
            {% else %}
            <td><img class = "schoollogo lazy"
                    data-src="../static/images/smaller/{{school.school_logo}}"
                    alt=""
                    style="width:auto; height:50px;"><br>
                    {{school.name}}<br> ({{school.num_fencers}})
            </td>
            {% endif %}
            <td>{{school.wins}}</td>
            <!--<td class="desktop">{{school.win_percent}}</td>-->

            <td>{{school.remaining_bouts}}</td>
    
            {% if not ranking.is_school_out(school) %}
            <td>{{ranking.bouts_behind_leader(school)}}</td>
            {% else %}
            <td class="out">{{ranking.bouts_behind_leader(school)}}<br>OUT</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{%endblock%}
