{%extends "layout.html"%}
{%block content%}

<style> #weapon{display:inline-block !important;}
        @media only screen and (max-width: 600px){
            .math{display:none !important}
            .navbar{justify-content: space-around;}
            .title{display:none;}
            #weapon *{left:0;}
        }
</style>

{% for weapon in fencers %}
{% set outer_loop = loop %}
<h5 id = "{{weapons[loop.index - 1]}}" style="color:#{{color[1]}}"><b>{{weapons[loop.index - 1].upper()}}</b></h5>
<table class="table" style="border:2px solid #{{color[1]}}">
    <tr>
        <th BGCOLOR={{color[0]}}>1 - 4</th>
        <th BGCOLOR={{color[0]}}>Fencer</th>
        <th BGCOLOR={{color[0]}}>Wins/Bouts Fenced</th>
        <th class="desktop" BGCOLOR={{color[0]}}>Win Percentage (Indicator)</th>
        <th BGCOLOR={{color[0]}}>Bouts Left</th>
    </tr>
    {% for fencer in weapon %}
    {% if loop.index == 5 %}
    <tr>
        <th BGCOLOR={{color[0]}}>5 - 24</th>
        <th BGCOLOR={{color[0]}}>Fencer</th>
        <th BGCOLOR={{color[0]}}>Wins/Bouts Fenced</th>
        <th class="desktop" BGCOLOR={{color[0]}}>Win Percentage (Indicator)</th>
        <th BGCOLOR={{color[0]}}>Bouts Left</th>
    </tr>
    {% endif %}
    <tr>
        <td>{{loop.index}}.</td>
        {% if loop.index < 7 and outer_loop.index == 1 %}
        <td><img class="schoollogo"
                 src="../static/images/smaller/{{fencer.school_logo}}"
                 alt=""
                 style="width:auto; height:50px;"> <br>{{fencer.name}}</td>
        {% else %}
        <td><img class="schoollogo lazy"
                 data-src="../static/images/smaller/{{fencer.school_logo}}"
                 alt=""
                 style="width:auto; height:50px;"> <br>{{fencer.name}}</td>
        {% endif %}
        <td>{{fencer.wins}}/{{fencer.bouts_fenced}}</td>
        <td class="desktop">{{fencer.win_percent}} ({{fencer.indicator}})</td>

        {% if fencer.has_bouts_remaining %}
        <td>{{fencer.remaining_bouts}}</td>
        {% else %}
        {% if loop.index <= 4 %}
            <td class="winner">DONE</td>
        {% else %}
            <td class="out">OUT</td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endfor %}
{%endblock%}
