<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='js/java.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-96011999-1', 'auto');
ga('send', 'pageview');






    </script>
    <head>
        <title>CyrusofChaos - NCAA Fencing Calculations</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <br>
    <body>


        <header>
            <nav class = "navbar navbar-expand-lg mobile" style="background-color:#{{color[1]}}">
                <div class = "title">
                    <span class = "desktop">CyrusofChaos - </span>
                    <span class = "math">Fencing Math</span>
                </div>
                <div id = "weapon" class="dropdown" style="display:none; background-color:#{{color[1]}}">
                    <button class="dropbtn" onclick="displayWeapon()">Weapon</button>
                    <div class="dropdown-content">
                        {% for weapon in weapons %}
                        <a href="{{ url_for('individual') }}#{{weapons[loop.index - 1]}}">{{weapons[loop.index - 1]}}</a>
                        {% endfor %} 
                    </div>
                </div>
                <div id = "linksnav" class="dropdown">
                    <button class="dropbtn" onclick="displayLinksnav()" style="background-color:#{{color[1]}}">Links</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('home') }}">Team</a>
                        <a href="{{ url_for('individual') }}">Individual</a>
                        <a href="{{ url_for('schedule') }}">Schedule</a>
                        <a href="{{ url_for('about') }}">About</a>
                        <!--<a href="{{ url_for('moneyball') }}">Moneyball</a>-->
                    </div>
                </div>
                <div id = "medianav" class="dropdown">
                    <button class="dropbtn" onclick="displayMedianav()" style="background-color:#{{color[1]}}">Media</button>
                    <div class="dropdown-content">
                        <a href="http://www.youtube.com/user/CyrusofChaos">YouTube</a>
                        <a href="http://www.instagram.com/cyrusofchaos">Instagram</a>
                        <a href="https://www.facebook.com/CyrusofChaos/">Facebook</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="ncaa-banner">
            <div class="container">
                <div class = "year_banner" style="color:#{{color[0]}}">{{year}} National Collegiate</div>
                <div class = "championship_banner" style="color:#{{color[1]}}">Fencing Championships</div>
            </div>
        </div>
        <div class="container">
            {%block content%}
            {%endblock%}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>
