{%extends "layout.html"%}
{%block content%}
<div class="ncaa-banner">
    <div class="container">
        <div class = "championship_banner" style="color:#{{color[0]}}">CyrusofChaos</div>
        <div class = "year_banner" style="color:#{{color[1]}}">Photo Editing Examples</div>
    </div>
</div>
<span>
    <center>
<br>

<p class="vidlink">Though I do not have the chance to edit pictures as often as videos I am competent at making color corrections, removing camera spots, and making other enhancements, as well as animating photos with plotagraph software. Here are some commissions I have done</p>

<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Diego.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Noah.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Paco.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Sushi.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Roma.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Maurice2.mp4" type="video/mp4" /> </video>
<br>
<img src="../static/images/Enrico.jpg" alt="" > </img>
<br>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Khalil.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Race.mp4" type="video/mp4" /> </video>
<br>
<video class="plotagraphs" autoplay loop muted playsinline> <source src="../static/videos/Maurice1.mp4" type="video/mp4" /> </video>
<br>
<img src="../static/images/Marek.jpg" alt=""> </img>
<br>
<br>

    </center>
</span>
{%endblock%}

