{%extends "layout.html"%}
{%block content%}
<div class="ncaa-banner">
    <div class="container">
        <div class = "championship_banner" style="color:#{{color[0]}}">CyrusofChaos</div>
        <div class = "year_banner" style="color:#{{color[1]}}">Video Editing Examples</div>
    </div>
</div>
<span>
    <center>
<p><a href="https://giphy.com/gifs/Q7ukOiedN6XyAaEaAQ">Fencing Overlay</a></p><iframe src="https://giphy.com/embed/Q7ukOiedN6XyAaEaAQ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Taken from a video I created which received global praise and was lauded by the Double Olympic Champion</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/iE3NLjsLf3jtL2qmup">Color Rotation</a></p><iframe src="https://giphy.com/embed/iE3NLjsLf3jtL2qmup" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Highlighting rotating colors as part of a video game highlight video</p>
<br>
<br>
<p><a href="https://www.youtube.com/watch?v=lLisxLIe6R0">Fencing Special Effects</a></p><iframe width="560" height="315" src="https://www.youtube.com/embed/lLisxLIe6R0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Created by commission for professional fencer, model, and Red Bull Athlete Miles Chamley-Watson</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/j5uIjLa1WA2SHXbi3o">Platform Tennis Reverse and Zoom In</a></p><iframe src="https://giphy.com/embed/j5uIjLa1WA2SHXbi3o" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Created as part of a video featured on the American Platform Tennis<br>Association Website to recap their National Championships</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/j6fl7TDjUOELvaM0rW">Sparks Fly</a></p><iframe src="https://giphy.com/embed/j6fl7TDjUOELvaM0rW" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Using spark effects to highlight certain parts of a fencing action that aren't so <br>easy to see is a good way to make fencing more exciting to first time viewers</p>
<br>
<br>
<p><a href="https://www.youtube.com/watch?v=7Nnwqb-eAVY">Fencing + Soccer</a></p><iframe width="560" height="315" src="https://www.youtube.com/embed/7Nnwqb-eAVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>This overlay of Italian soccer commentary with an Italian fencer winning<br>a bout was featured on the official Italian Fencing Federation website</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/MXGAl8FrS0jMaKj5TR">Animating a Picture</a></p>
<img class="sushi" src="../static/images/sushi.jpg" alt="" style="width:auto; height:500px;">
<iframe src="https://giphy.com/embed/MXGAl8FrS0jMaKj5TR" width="424" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Plotagraphs are looped aminations created from pictures</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/cMhPuoomjgttq48NKh">Fencing Zoom In</a></p><iframe src="https://giphy.com/embed/cMhPuoomjgttq48NKh" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>This video helped highlight a loophole in the fencing<br>rules which lead to a new rule being implemented</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/USPsx4p2g96gu9ZBDS">Highlighting Melee Technique</a></p><iframe src="https://giphy.com/embed/USPsx4p2g96gu9ZBDS" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Using slow-mo and zoom in we can see a the very precise distance<br>used by this professional Smash Brothers player</p>
<br>
<br>
<p><a href="https://www.youtube.com/watch?v=VKRShV8Vm5g">NY State "Wear A Mask" Public Saftey Announcement</a></p><iframe width="560" height="315" src="https://www.youtube.com/embed/VKRShV8Vm5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>A New York State PSA I made for a state-wide contest</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/H47uKFF20T89TqGCB1">Fencing Emojis</a></p><iframe src="https://giphy.com/embed/H47uKFF20T89TqGCB1" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Emoji's emphazise a funny reaction from one of the athletes</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/McJXy6FN4kEjtNVuMs">Color Flashes</a></p><iframe src="https://giphy.com/embed/McJXy6FN4kEjtNVuMs" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Flashes of color highlight certain parts of a video clip</p>
<br>
<br>
<p><a href="https://www.youtube.com/watch?v=c_Ocz1PSMvE">Fencing + Super Mario</a></p><iframe width="560" height="315" src="https://www.youtube.com/embed/c_Ocz1PSMvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>This video of a fencing touch overlaid with sound effects from<br>Super Mario was featured on the official European Fencing Website</p>
<br>
<br>
<p><a href="https://giphy.com/gifs/f5kiBumZgkE7sBDjpX">Multiple Cameras</a></p><iframe src="https://giphy.com/embed/f5kiBumZgkE7sBDjpX" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>A multi-camera sequence created with Adobe Premiere Pro</p>
<br>
<br>

    </center>
</span>
{%endblock%}
