{%extends "layout.html"%}
{%block content%}
<div class="ncaa-banner">
    <div class="container">
        <div class = "championship_banner" style="color:#{{color[0]}}">CyrusofChaos</div>
        <div class = "year_banner" style="color:#{{color[1]}}">Video Editing Examples</div>
    </div>
</div>
<span>
    <center>
<br>
<p><a class="vidlink" href="https://youtu.be/2TNOEe2G_e8?t=131">Fencing Overlay</a></p><iframe src="https://giphy.com/embed/Q7ukOiedN6XyAaEaAQ" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Taken from an analysis video I created which received global praise and was lauded by the Double Olympic Champion who was the subject of the video</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/CAQTTKSpNDc">Color Rotation</a></p><iframe src="https://giphy.com/embed/iE3NLjsLf3jtL2qmup" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Highlighting rotating colors as part of a video game highlight video</p>
<br>
<br>
<p><a class="vidlink" href="https://www.youtube.com/watch?v=lLisxLIe6R0">Fencing Special Effects</a></p><iframe src="https://www.youtube.com/embed/lLisxLIe6R0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="viddescription">Created by commission for professional fencer, model, and Red Bull Athlete Miles Chamley-Watson</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/B9hYvTNJovu/">Sparks Fly</a></p><iframe src="https://giphy.com/embed/j6fl7TDjUOELvaM0rW" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a class="vidlink" href="https://www.instagram.com/p/B0i5RROnfqu/">Sparks Fly Again</a></p><iframe src="https://giphy.com/embed/WQTYu4O410pRPA6rPc" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Using spark effects to highlight certain parts of a fencing action that aren't so easy to see is a good way to make fencing more exciting to first time viewers</p>
<br>
<br>
<p><a class="vidlink" href="https://youtu.be/XNgx3jWblbc?t=94">Platform Tennis Reverse and Zoom In</a></p><iframe src="https://giphy.com/embed/j5uIjLa1WA2SHXbi3o" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Created as part of a video featured on the American Platform Tennis Association Website to recap their National Championships</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/B1tj2Kunr15/">Fencing + Soccer</a></p><iframe src="https://www.youtube.com/embed/7Nnwqb-eAVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="viddescription">This overlay of Italian soccer commentary with an Italian fencer winning a bout was featured on the official Italian Fencing Federation website</p>
<br>
<br>
<!--
<p><a class="vidlink" href="https://giphy.com/gifs/MXGAl8FrS0jMaKj5TR">Animating a Picture</a></p>
<iframe class="sushi" src="../static/images/sushi.jpg" alt="" frameBorder="0" allowfullscreen scrolling="no"></iframe>
<iframe src="https://giphy.com/embed/MXGAl8FrS0jMaKj5TR" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Plotagraphs are looped aminations created from pictures</p>
<br>
<br>
-->
<p><a class="vidlink" href="https://www.youtube.com/watch?v=YQlKiIwUgcM">Fencing Zoom In</a></p><iframe src="https://giphy.com/embed/cMhPuoomjgttq48NKh" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Originally from a video created to draw attention to a loophole in the fencing rules which led to a new rule being implemented</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/CANtCCJpPr4/">Highlighting Melee Technique</a></p><iframe src="https://giphy.com/embed/USPsx4p2g96gu9ZBDS" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Using slow-mo and zoom in we can see the very precise control implemented by this professional Super Smash Brothers player</p>
<br>
<br>
<p><a class="vidlink" href="https://www.youtube.com/watch?v=VKRShV8Vm5g">NY State "Wear A Mask" Public Saftey Announcement</a></p><iframe src="https://www.youtube.com/embed/VKRShV8Vm5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="viddescription">A New York State PSA I made for a state-wide contest</p>
<br>
<br>
<p><a class="vidlink" href="https://youtu.be/8UOUdWE0PzM?t=243">Fencing Emojis</a></p><iframe src="https://giphy.com/embed/H47uKFF20T89TqGCB1" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Emojis emphasize a funny reaction from one of the athletes</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/CCBl4O-pUdY/">Color Flashes</a></p><iframe src="https://giphy.com/embed/McJXy6FN4kEjtNVuMs" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">Flashes of color highlight certain parts of a video game clip</p>
<br>
<br>
<p><a class="vidlink" href="https://www.instagram.com/p/BzGSzhNCSqD/">Fencing + Super Mario</a></p><iframe src="https://www.youtube.com/embed/c_Ocz1PSMvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="viddescription">This video of a fencing touch overlaid with sound effects from Super Mario was featured on the official European Fencing Page</p>
<br>
<br>
<p><a class="vidlink" href="https://www.youtube.com/watch?v=8UOUdWE0PzM">Multiple Cameras</a></p><iframe src="https://giphy.com/embed/f5kiBumZgkE7sBDjpX" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="viddescription">A multi-camera sequence created with Adobe Premiere Pro</p>
<br>
<br>

    </center>
</span>
{%endblock%}
