{%extends "layout.html"%}
{%block content%}
<h2><span class="s1"><b>Schedule:</b></span></h2>
<h3><span style="color:#{{color[1]}}" class="s1"><b>Wednesday, March 20th</b></span></h3>
<table class="table schedule" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tbody>
        <tr>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Time</b></span></p>
            </th>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Event</b></span></p>
            </th>
        </tr>
            <td>
                <p class="p1"><span class="s1">3:30 - 7 p.m.</span></p>
            </td>
            <td>
                <p class="p1"><span class="s1">Armory opens (Apparel and equipment check - {{order[0].lower()}})</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td>
                <p class="p1"><span class="s1">Open practice</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td>
                <p class="p1"><span class="s1">Participant registration</span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="p1"><span class="s1">7 p.m.</span></p>
            </td>
            <td>
                <p class="p1"><span class="s1">Mandatory coaches meeting - Westin Cleveland Downtown - Calypso Room</span></p>
            </td>
        </tr>
    </tbody>
</table>
<h3><span style="color:#{{color[1]}}" class="s1"><b>Thursday, March 21st</b></span></h3>
<table class="table schedule" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tbody>
        <tr>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Time</b></span></p>
            </th>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Event</b></span></p>
            </th>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">7:30 - 9 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">Participant registration</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">7:30 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">Armory, training room, and practice area opens</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">8:30 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">Officials report to strip</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">8:45 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">National Anthem</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">9:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">{{order[0]}}'s Epee, rounds 1-3</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">11:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">{{order[0]}}'s Foil, rounds 1-3</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">1:30 p.m.</span></p>
            </td>
            <td valign="middle" class="td4">
                <p class="p1"><span class="s1">{{order[0]}}'s Sabre, rounds 1-3</span></p>
            </td>
        </tr>
    </tbody>
</table>
<h3><span style="color:#{{color[1]}}" class="s1"><b>Friday, March 22nd</b></span></h3>
<table class="table schedule" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tbody>
        <tr>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Time</b></span></p>
            </th>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Event</b></span></p>
            </th>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">7:30 a.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">Armory, training room and practice area opens</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">8:45 a.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">National Anthem</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">9:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">{{order[0]}}'s Epee, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">{{order[0]}}'s Foil, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">{{order[0]}}'s Sabre, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">11 a.m. - 12:30 p.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">Apparel and equipment check for participating {{order[1].lower()}} student-athletes</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">1 p.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">{{order[0]}}'s Semifinal and Championship bouts (run sequentially)</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">4:30 - 5 p.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">Apparel and equipment check for participating {{order[1].lower()}} student-athletes</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td5">
                <p class="p1"><span class="s1">6:30 p.m.</span></p>
            </td>
            <td valign="middle" class="td6">
                <p class="p1"><span class="s1">Championships Banquet</span></p>
            </td>
        </tr>
    </tbody>
</table>
<h3><span style="color:#{{color[1]}}" class="s1"><b>Saturday, March 23rd</b></span></h3>
<table class="table schedule" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tbody>
        <tr>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Time</b></span></p>
            </th>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Event</b></span></p>
            </th>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">7:30 - 9 a.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">Participant registration</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">7:30 a.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">Armory, training room, and practice area opens</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">8:45 a.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">National Anthem</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">9:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">{{order[1]}}'s Epee, rounds 1-3</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">11:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">{{order[1]}}'s Foil, rounds 1-3</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td3">
                <p class="p1"><span class="s1">1:30 p.m.</span></p>
            </td>
            <td valign="middle" class="td7">
                <p class="p1"><span class="s1">{{order[1]}}'s Sabre, rounds 1-3</span></p>
            </td>
        </tr>
    </tbody>
</table>
<h3><span style="color:#{{color[1]}}" class="s1"><b>Sunday, March 24th</b></span></h3>
<table class="table schedule" style="margin-top:50px; border:2px solid #{{color[1]}}">
    <tbody>
        <tr>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Time</b></span></p>
            </th>
            <th style="background-color:#{{color[0]}}">
                <p class="p8"><span class="s1"><b>Event</b></span></p>
            </th>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p1"><span class="s1">7:30 a.m.</span></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">Armory, training room and practice area opens</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p1"><span class="s1">8:45 a.m.</span></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">National Anthem</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p1"><span class="s1">9:00 a.m.</span></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">{{order[1]}}'s Epee, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">{{order[1]}}'s Foil, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p9"><span class="s1"></span><br></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">{{order[1]}}'s Sabre, rounds 4-5</span></p>
            </td>
        </tr>
        <tr>
            <td valign="middle" class="td8">
                <p class="p1"><span class="s1">1 p.m.</span></p>
            </td>
            <td valign="middle" class="td9">
                <p class="p1"><span class="s1">{{order[1]}}'s Semifinal and Championship bouts (run sequentially)</span></p>
            </td>
        </tr>
    </tbody>
</table>
{%endblock%}
